!!!html
%html{lang: 'en'}
  %head
    %title Test
  %body
    %form{action: '/signup', method: 'post'}
      %input{name: 'email', id: 'email', type: 'email'}
      %input{name: 'password', id: 'password', type: 'password'}
      %input{type: 'submit', name: 'signup', value: "Sign Up"}